* { 
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'montserrat', sans-serif;
overflow-x: hidden;
} 

header {
    margin: 30px 0 50px 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    & a{
        font-weight: 600;
        font-size: 15px;
        color: #bbb;
        cursor: pointer;
    }& a:hover{
        color: #ADFF00;
    }
    & button{
        color: #fff;
        background:#665ae1;
        height: 40px;
        border: none;
        width: 130px;
        border-radius: 20.5px;
        border: none;
        cursor: pointer;
    }& button:hover{
        color: #665ae1;
        background: #ADFF00;
    }
}

main {
    display:grid;
    grid-template-columns:1fr 1fr;
    & img {
        width: 25vw;
        height: 30vh;
        margin: 20vh auto;
    }
}      
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    max-width: 50vw;
}
h1{
    font-size: 90px;
    font-weight: 900;
    color:#515151;
}
h2{
    font-size: 45px;
    font-weight: 500;
    color:#515151;
}
p{
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color:#848484;
}
.button-main{
    background: #ADFF00;
    height: 40px;
    border: none;
    width: 130px;
    border-radius: 20.5px;
    cursor: pointer;
    filter:drop-shadow(0px 4px 4px 0px #00000040);
    font-size: 15px;
    font-weight: 700;
    color:#000000;
}
.button-main:hover{
    background: #665ae1;
}

@media screen and (max-width: 850px){

header {
    margin: 15px 0 40px 15px;
    gap: 10px;
    & a{
        font-size: 11px;
    }
    & button{
        height: 30px;
        width: 90px;
        font-size: 11px;
    }
}
main {
    display:grid;
    grid-template-columns:1fr 1fr;
    & img {
        width: 25vw;
        height: 30vh;
    }
.button-main{
    height: 30px;
    width: 100px;
    font-size: 11px;
   }
h1 {
    font-size: 55px;
   }
h2 {
    font-size: 35px;
   }
  }
}
@media screen and (max-width: 510px){

header {
    margin: 10px;
    gap: 5px;
    & a{
    font-size: 8px;
    }
    & button{
    height: 20px;
    width: 70px;
    font-size: 8px;
    }
}
main {
    grid-template-columns:1fr;
    & img {
    width: 50vw;
    height: 18vh;
    margin: 30px auto;
    }
.button-main{
    height: 20px;
    width: 70px;
    font-size: 8px;
}
h1 {
    font-size: 25px;
}
h2 {
    font-size: 16px;
}
p{
    font-size: 12px;
    
}
}
.container{
    display: flex;
    margin: 0 auto;
    gap: 20px;
}
}


    
